VITE_SUPABASE_URL=https://owdbyvtcnsgqgjipjidu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im93ZGJ5dnRjbnNncWdqaXBqaWR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczMDQxMDQsImV4cCI6MjEwMjg4MDEwNH0.RkxzAlx9BtynKN03B4pGNziTt1T6XCZIUqRHO6Ng63o
